# Logs
logs
*.log
npm-debug.log*


node_modules/
.pnpm-store/

/dist/

# dotenv
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# TypeScript incremental build cache
*.tsbuildinfo

# Claude
CLAUDE.md
/.claude
